body{
background-image:url("https://s-media-cache-ak0.pinimg.com/originals/ae/34/6a/ae346a5526bc0ba554c9f4ed7a246f65.png");
margin:0px auto;
width:1200px;
color:white;
}

h1{
  font-size:32px;
}

.content{
  background-color:black;
  color:white;
  width:1200px;
  margin:0px auto;
  padding:15px;
}

.nav{
  display:block;
  padding:4px;

}

ul{
  list-style:none;
  padding:10px;
}

li{
  float:left;
  border-style:dotted;
  padding:10px;
  font-size:16px;
  font-family:"Georgia", serif;
}

.connect{
  float:right;
}

.connect ul{
  list-style:none;
}

.connect ul li{
  float:left;
}

.bottom{
  
}
