body{
background-image:url("https://s-media-cache-ak0.pinimg.com/originals/b2/8c/7a/b28c7af0efc2ab56537724af8fd54f4b.png");
margin:0px auto;
width:1200px;
color:black;
}


.content{
  background-color:white;
  color:white;
  width:900px;
  margin:1px auto;
  padding:15px;
}

.search{
  float:right;
  
}

.nav{
  display:block;
  padding:4px;
  width:800px;

}

ul{
  list-style:none;
  padding:10px;
}

li{
  float:left;
  padding:10px;
  font-size:16px;
  font-family:"Georgia", serif;
  text-align:center;
}

.slideshow{
  width:895px;
  margin:1px auto;
}

.email{
  padding:5px;
}

.connect{
  float:right;
}

.connect ul{
  list-style:none;
}

.bottom{
  
}
